snippet ti "test define" b
        /** @test */
        public function ${1}(): void
        {
		${2}
        }
snippet pum "public method" b
        public function ${1}(): void
        {
		${2}
        }
snippet prm "private method" b
        private function ${1}(): void
        {
		${2}
        }
snippet ptm "protected method" b
        protected function ${1}(): void
        {
		${2}
        }
