asciinema
nvim/plugin/packer_compiled.lua
configstore
iterm2
pgcli
.DS_Store
gcloud
medusa
neofetch
.tmux.conf
raycast
github-copilot/
gh
jgit
lazygit/state.yml
ngrok/
irb/
k9s/
gh-dash
composer
.phpactor.json
btop
argocd/
helm/
mise/
valet
oss/*

!oss/.gitkeep
